@{
    <h1>Lab 3</h1>
    <h4>Mason Fatoric</h4>
    <h4>040-830-834</h4>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]- Lab 3</title>
        <link href="C:\Users\mason\source\repos\dotNetLab3\dotNetLab3\Views\StyleSheet.css" rel="stylesheet"/>
    </head>

    <body>
        <header>
            <h1>Author: Mason Fatoric. Welcome to my lab 3 page</h1>
            <ul>
                <li>First thing </li>
                <li>Second thing </li>
            </ul>

        </header>
        <div>
         
        </div>
        <footer>
            <h3>The steps I took to add css file and _Layout</h3>
            <ol>
                <li>Right Click Project -> "Add" -> "New Item..."</li>
                <li>For CSS file select "Style Sheet"</li>
                <li>For _Layout cshtml file select "Razor Layout"</li>
            </ol>
            <p><b>A. Folder Structure:</b> C:\Users\mason\source\repos\dotNetLab3\dotNetLab3\Views/(_Layout.cshtml/StyleShee.cc/_ViewPorts.cshtml)</p><br />
            <p><b>B. Short description of what layout does:</b> Layout is used to create the structure or bones of the webpage. Where Stylesheet give the webpage its visucal color and style.</p><br />

            <p>
                @Html.ActionLink("Count Bottles", "Razor", "Home") &nbsp;
                @Html.ActionLink("Create Person", "CreatePerson", "Home")
            </p>

        </footer>
    </body>

</html>


}